.main {
    max-width: 2400px;
    padding: 60px 0 0 350px;
    width: 100%;
    position: relative;
    background: #F2F2F2;
    height: 100vh;
    overflow: hidden;
}

.bigmain {
    max-width: 2400px;
    padding: 0;
    width: 100%;
    position: relative;
    background: #F2F2F2;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 2400px;
    background: #0E00AF;
    height: 60px;
    padding: 20px 3%;
    color: white;
    z-index: 4;

    .burger, .user {
        color: white;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        svg {
            font-size: 2rem;
        }
    }

    .user {
        border-radius: 50%;
        box-shadow: 0px 4px 10px rgba(167, 167, 167, 0.5);
        margin: 0 15px 0 auto;
        width: 30px;
        height: 30px;
    }

    .brand {
        font-size: 1.1rem;
        font-weight: 900;
        letter-spacing: 0.01rem;
    }

    .username {
        font-size: 1.1rem;
        font-weight: 900;
        letter-spacing: 0.01rem;
        max-width: 35%;
        margin: 0 10px 0 auto;
        text-align: right;
    }
}

.sidebar {
    position: fixed;
    background: #FFFFFF;
    height: calc(100vh - 60px);
    overflow-y: auto;
    width: 350px;
    top: 60px;
    left: 0;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 30px;
    transition: all 0.3s;
    z-index: 3;
    display: flex;
    flex-direction: column;

    .sidenav {
        width: 100%;
        height: 50px;
        padding-left: 40px;
        display: flex;
        align-items: center;
        border-radius: 0 35px 35px 0;
    }

    .rc, .pc, .uc {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #FFFFFF;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }

    .rc { background: #FF0202; }
    .pc { background: #FF6202; }
    .uc { background: #8459FF; }

    .ractive { background: #ffcfcf; color: #FF0202; .rc { color: #ffcfcf; } }
    .pactive { background: #FFD9C2; color: #FF6202;; .pc { color: #FFD9C2; } }
    .uactive { background: #ddd1ff; color: #8459FF; .uc { color: #ddd1ff; } }
}

/* width */
.sidebar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
    background: none;
    margin: 5px 0;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: #e4e4e4;
    border-radius: 4px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 139, 139);
}

.container {
    padding: 0 0 60px;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.progressdiv {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(137, 137, 137, 0.25);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0 30px;
    color: #767676;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

@media (max-width: 768px) {

    .main { 
        padding: 60px 0 0; 
    }

    .sidebar { 
        width: 100%;
        max-width: 350px;
        left: -110%;
    }

    .expand { 
        left: 0 !important;
        box-shadow: 0px 0px 140px 140px rgba(146, 146, 146, 0.54); 
    }
}