.site_header {
    font-size: 1.6rem;
    font-weight: 1000;
}

.breadcrumbs {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.h_xl {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 600;
    margin: 1rem 0;
}

.h_xl_light {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 600;
    margin: 1rem 0;
    color: #767676;
}

.h_lg {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 500;
    margin: 1rem 0;
}

.h_md {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
}

.hightext_xl {
    font-size: 1.7rem;
    font-weight: 600;
    color: #0E00AF;
}

.hightext_lg {
    font-size: 1.3rem;
    font-weight: 600;
    color: #0E00AF;
}

.hightext_md {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0E00AF;

    svg {
        font-size: 1.3rem;
        color: #FFAD7A;
    }
}

.hightext_sm {
    font-size: 0.9rem;
    color: #0E00AF;
}

.text_lg {
    font-size: 1.1rem;
    font-weight: 600;
}

.text_md {
    font-size: 0.9rem;
}

.text_sm {
    font-size: 0.7rem;
}

.modal_header {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal_header_full {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0E00AF;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #E0E0E0;
}

.modal_summary {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0E00AF;
    padding: 20px 0;
}

.sbtn {
    background: #0E00AF;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    min-width: 200px;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 43px;
}

.dbtn {
    background: #CECECE;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    width: 200px;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 43px;
    font-size: 0.9rem;
}

.invibtn {
    background: none;
    border-radius: 3px;
    border: none;
    color: #1703FF;
    padding: 10px;
    text-align: left;
    font-weight: 600;
}

.outline_btn {
    border: 1px solid #0E00AF;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    color: #0E00AF;
    background: none;
    width: 100%;
    transition: all .3s;
}

.outline_btn:hover {
    background: #0E00AF;
    color: white;
}

.outline_btn_red {
    border: 1px solid #FF0000;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FF0000;
    background: none;
    transition: all .3s;
}

.outline_btn_red:hover {
    background: #FF0000;
    color: white;
}

.outline_btn:active, .outline_btn_red:active {
    opacity: 0.5;
}